@import 'reset';

$zoom: 1.1;
$max-width: 46em;
$margin: .5em;
$media-breakpoint: ($max-width + 2 * $margin) * $zoom;

body {
    margin: 0 $margin;
    font-size: $zoom * 100%;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #444;
}

h1, h2, h3 {
    margin-top: 2em;
    line-height: 1.1;
    color: #222;
}

a {
    color: #428BCA;
    text-decoration: none;

    &:hover, &:focus {
        color: #2A6496;
    }

    &:hover, &:focus {
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

blockquote {
    position: relative;
    font-style: italic;

    &:before {
        content: "“";
        position: absolute;
        top: -.5em;
        left: -.5em;
        font-size: 4em;
    }
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

img + em {
    display: block;
    text-align: center;
    font-size: 70%;
    color: #888;
}

#container {
    max-width: $max-width;
    margin: auto;
    padding-bottom: 3em;
}

#aside {
    margin: 2em 1em;
    padding: 1em;
    border: medium dashed #888;

    > h2:first-child {
        margin-top: 0;
    }

    @media (max-width: $media-breakpoint) {
        margin: 2em .5em;
        padding: .5em;
    }
}

#donate {
    margin-bottom: 2em;
    text-align: center;

    .donate {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1em;
    }

    @media (max-width: $media-breakpoint) {
        .donate {
            display: block;
            margin: 0 auto 2em;
            text-align: center;
        }
    }
}

#paypal-button {
    display: block;
    margin: auto;
    border: none;
    background-color: transparent;
    background-image: url(../image/paypal.gif);
    color: transparent;
    width: 92px;
    height: 26px;
}

#flattr {
    background-image: url(../image/flattr.png);
    color: transparent;
    width: 93px;
    height: 20px;
}

#bitcoin-adress {
    font-size: 0.7em;
    padding: .3em;
    border: thin dashed #222;
    cursor: pointer;
}

#license {
    font-size: .8em;
    margin-top: 2em;
    text-align: center;
}

#license-name {
    display: inline-block;
    background-image: url(../image/CC-BY.png);
    color: transparent;
    width: 88px;
    height: 31px;
}

.facebook-like {
    border:none;
    overflow:hidden;
    height:80px;
}

#at4-share:before {
    content: "Share";
}
